* { 
	margin: 0; 
	padding: 0; 
}
body { 
	font-family: 'Open Sans', sans-serif;
    -webkit-background-size: cover;

        -moz-background-size: cover;

        -o-background-size: cover;

        background-size: cover;

        background-size: 100% 100%;


}
#page-wrap {
	margin: 50px;
}
p {
	margin: 20px 0;
}
h1{
	text-align:center;
	
	}
	/* 
	Generic Styling, for Desktops/Laptops 
	*/
table.center {
    margin-left:auto; 
    margin-right:auto;
  }
table { 
		text-align:center;
		width: 50%; 
		border-collapse: collapse; 
	}
	/* Zebra striping */
	tr:nth-of-type(odd) {
                background: #eee;
        }
	th { 
		 background: #333;
		color: white; 
		font-weight: bold; 
	}
	td, th { 
		padding: 6px; 
		border: 1px solid #ccc; 
		text-align: left; 
	}

.force_unban{
	padding:10px 0 0 0;
	text-align:center;
	}	
input[type=submit] {

        padding:5px 20px;
	 margin:0 auto;
  border:1px solid #439F07;

  text-shadow:0 -1px 0 rgba(0,0,0,0.4);

  box-shadow:

    inset 0 1px 0 rgba(255,255,255,0.3),

    inset 0 10px 10px rgba(255,255,255,0.1);

  border-radius:0.3em;

  background: rgb(138,199,84); /* Old browsers */

  background: -moz-linear-gradient(top,  rgba(138,199,84,1) 0%, rgba(121,201,50,1) 45%, rgba(102,190,24,1) 48%, rgba(57,150,2,1) 97%, rgba(102,174,63,1) 100%); /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(138,199,84,1)), color-stop(45%,rgba(121,201,50,1)), color-stop(48%,rgba(102,190,24,1)), color-stop(97%,rgba(57,150,2,1)), color-stop(100%,rgba(102,174,63,1))); /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top,  rgba(138,199,84,1) 0%,rgba(121,201,50,1) 45%,rgba(102,190,24,1) 48%,rgba(57,150,2,1) 97%,rgba(102,174,63,1) 100%); /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top,  rgba(138,199,84,1) 0%,rgba(121,201,50,1) 45%,rgba(102,190,24,1) 48%,rgba(57,150,2,1) 97%,rgba(102,174,63,1) 100%); /* Opera 11.10+ */

  background: -ms-linear-gradient(top,  rgba(138,199,84,1) 0%,rgba(121,201,50,1) 45%,rgba(102,190,24,1) 48%,rgba(57,150,2,1) 97%,rgba(102,174,63,1) 100%); /* IE10+ */

  background: linear-gradient(to bottom,  rgba(138,199,84,1) 0%,rgba(121,201,50,1) 45%,rgba(102,190,24,1) 48%,rgba(57,150,2,1) 97%,rgba(102,174,63,1) 100%); /* W3C */

 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8ac754', endColorstr='#66ae3f',GradientType=0 ); /* IE6-9 */

 color:#fff;

  font-weight:bold;

  cursor:pointer;

  font-size:15px;

  outline: none;

}
