a{text-decoration:none;}

.txt-rt{text-align:right;}/* text align right */

.txt-lt{text-align:left;}/* text align left */

.txt-center{text-align:center;}/* text align center */

.float-rt{float:right;}/* float right */

.float-lt{float:left;}/* float left */

.clear{clear:both;}/* clear float */

.pos-relative{position:relative;}/* Position Relative */

.pos-absolute{position:absolute;}/* Position Absolute */

.vertical-base{	vertical-align:baseline;}/* vertical align baseline */

.vertical-top{	vertical-align:top;}/* vertical align top */

nav.vertical ul li{	display:block;}/* vertical menu */

nav.horizontal ul li{	display: inline-block;}/* horizontal menu */

img{max-width:100%;}

/*end reset*/

* { box-sizing: border-box; padding:0; margin: 0; }



body {

	font-family: 'Open Sans', sans-serif;

 	background:url(../images/bg.jpg) no-repeat center fixed;

    -webkit-background-size: cover;

	-moz-background-size: cover;

	-o-background-size: cover;

 	background-size: cover;

 	background-size: 100% 100%;
	text-align:center;

}

.main{

	margin:5em 5em 5em 5em;

	width: 50%;	
	
	 display: inline-block;
	


}

form {

	background:#0A192A;

  	overflow:hidden;

  	position:relative;
	
	width:100%;
	height:100%;

        box-shadow: 0 5px 10px 5px rgba(0,0,0,0.2);
	

}


form:after {

  content:"";

  display:block;

  position:absolute;

  height:1px;

  width:100px;

  left:20%;

  top:0;

}


form:before {

 	content:"";

  display:block;

  position:absolute;

  width:8px;

  height:5px;

  border-radius:50%;

  left:34%;

  top:-7px;

  box-shadow: 0 0 6px 4px #fff;

}


.inset {
 padding:20px; 
 border-top:1px solid #000;
}

.radioclass{
 
 width: auto;
 padding:0 0 0 5px;

 
}
input[type="radio"] { 

 margin: 0 0 0 50px;
}



.main .column_1 {
	height:600px;
	float: left;
	width:270px;
	padding:0 20px 20px 20px;
   -webkit-transform: translate(0px, 0px);
   -moz-transform: translate(0px, 0px);
   -o-transform: translate(0px, 0px);
   -ms-transform: translate(0px, 0px);
   transform: translate(0px, 0px);
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
	}	

.main .column_2 {

	height: 600px;
        float: left;
        width:270px;
	padding:0 20px 20px 20px;
   -webkit-transform: translate(0px, 0px);
   -moz-transform: translate(0px, 0px);
   -o-transform: translate(0px, 0px);
   -ms-transform: translate(0px, 0px);
   transform: translate(0px, 0px);
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
        }

 
/**** COLUMN HOVERS ****/
/*
.main .column_1:hover{
	position: relative;
	z-index: 100;
	padding: 20px;
	box-shadow: 5px 0px 25px rgba(0,0,0,0.7);
	-webkit-box-shadow: 5px 0px 25px rgba(0,0,0,0.7);
	-moz-box-shadow: 5px 0px 25px rgba(0,0,0,0.7);
	-webkit-transform: translate(-5px,-15px);
   -moz-transform: translate(-5px,-15px);
   -o-transform: translate(-5px,-15px);
   -ms-transform: translate(-5px,-15px);
   transform: translate(-5px,-15px);
   -webkit-transition-delay: 0s;
   -moz-transition-delay: 0s;
   -o-transition-delay: 0s;
   -ms-transition-delay: 0s;
   transition-delay: 0s;
	}

.main .column_2:hover{
        position: relative;
        z-index: 100;
        box-shadow: 5px 0px 25px rgba(0,0,0,0.7);
        -webkit-box-shadow: 5px 0px 25px rgba(0,0,0,0.7);
        -moz-box-shadow: 5px 0px 25px rgba(0,0,0,0.7);
        -webkit-transform: translate(-5px,-15px);
   -moz-transform: translate(-5px,-15px);
   -o-transform: translate(-5px,-15px);
   -ms-transform: translate(-5px,-15px);
   transform: translate(-5px,-15px);
   -webkit-transition-delay: 0s;
   -moz-transition-delay: 0s;
   -o-transition-delay: 0s;
   -ms-transition-delay: 0s;
   transition-delay: 0s;
        }

*/


form h1{

  text-align:center;

  padding:18px 0;

  border-bottom:1px solid #000;

  position:relative;

}

form h1:after {

 content:"";

  display:block;

  width:250px;

  height:100px;

  position:absolute;

  top:0;

  left:50px;

  pointer-events:none;

 -webkit-transform: rotate(70deg);

 background: linear-gradient(50deg, rgba(255,255,255,0.15), rgba(0,0,0,0));

  

}

.radioclass label{
display:block;
font-size:13px;

}

form h1  {

	color:#fff;

	text-shadow:0 1px 0 #000;

	font-size:18px;

	font-weight: 600;

	text-align:center;

  padding:18px 0;

  border-bottom:1px solid #000;

  position:relative;

	

}

form h1 span{

	padding:5px;

	background:#0184ff;

}

table{
    border-collapse: collapse;    
   
}
td{
	padding:0 20px 20px 20px;
}
label {

 	color:rgba(137, 192, 243, 0.8);

  	display:block;

  	font-size:13px;

  	padding-bottom:9px;

}



input[type=text],

input[type=password] {

  font-family: 'Open Sans', sans-serif;

  width:100%;

  padding:8px 5px;

  background: rgb(167,167,167); /* Old browsers */

  background: -moz-linear-gradient(top,  rgba(167,167,167,1) 0%, rgba(181,181,181,1) 21%, rgba(228,228,228,1) 79%, rgba(242,242,242,1) 100%); /* FF3.6+ */


  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(167,167,167,1)), color-stop(21%,rgba(181,181,181,1)), color-stop(79%,rgba(228,228,228,1)), color-stop(100%,rgba(242,242,242,1))); /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top,  rgba(167,167,167,1) 0%,rgba(181,181,181,1) 21%,rgba(228,228,228,1) 79%,rgba(242,242,242,1) 100%); /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top,  rgba(167,167,167,1) 0%,rgba(181,181,181,1) 21%,rgba(228,228,228,1) 79%,rgba(242,242,242,1) 100%); /* Opera 11.10+ */

  background: -ms-linear-gradient(top,  rgba(167,167,167,1) 0%,rgba(181,181,181,1) 21%,rgba(228,228,228,1) 79%,rgba(242,242,242,1) 100%); /* IE10+ */

  background: linear-gradient(to bottom,  rgba(167,167,167,1) 0%,rgba(181,181,181,1) 21%,rgba(228,228,228,1) 79%,rgba(242,242,242,1) 100%); /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7a7a7', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */

  border:1px solid #222;

  box-shadow:0 1px 0 rgba(255,255,255,0.1);

  border-radius:0.3em;

  margin-bottom:20px;

  color: #000;

  font-size:15px;

  outline: none;

}

label[for=remember]{

 	color:#fff;

  	display:inline-block;

  	font-size: 13px;

}



input[type=checkbox] {

 	display:inline-block;

  	vertical-align:middle;

}


.p-container {

 	padding:0 20px 20px 20px; 

}



.p-container:after {

 	clear:both;

  display:table;

  content:"";

}



.p-container span a {

  font-size:14px;

  display:block;

  float:left;

  color:#0d93ff;

  padding-top: 4px;

}



input[type=submit] {

 	padding:5px 20px;

  border:1px solid #439F07;

  text-shadow:0 -1px 0 rgba(0,0,0,0.4);

  box-shadow:

    inset 0 1px 0 rgba(255,255,255,0.3),

    inset 0 10px 10px rgba(255,255,255,0.1);

  border-radius:0.3em;

  background: rgb(138,199,84); /* Old browsers */

  background: -moz-linear-gradient(top,  rgba(138,199,84,1) 0%, rgba(121,201,50,1) 45%, rgba(102,190,24,1) 48%, rgba(57,150,2,1) 97%, rgba(102,174,63,1) 100%); /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(138,199,84,1)), color-stop(45%,rgba(121,201,50,1)), color-stop(48%,rgba(102,190,24,1)), color-stop(97%,rgba(57,150,2,1)), color-stop(100%,rgba(102,174,63,1))); /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top,  rgba(138,199,84,1) 0%,rgba(121,201,50,1) 45%,rgba(102,190,24,1) 48%,rgba(57,150,2,1) 97%,rgba(102,174,63,1) 100%); /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top,  rgba(138,199,84,1) 0%,rgba(121,201,50,1) 45%,rgba(102,190,24,1) 48%,rgba(57,150,2,1) 97%,rgba(102,174,63,1) 100%); /* Opera 11.10+ */

  background: -ms-linear-gradient(top,  rgba(138,199,84,1) 0%,rgba(121,201,50,1) 45%,rgba(102,190,24,1) 48%,rgba(57,150,2,1) 97%,rgba(102,174,63,1) 100%); /* IE10+ */

  background: linear-gradient(to bottom,  rgba(138,199,84,1) 0%,rgba(121,201,50,1) 45%,rgba(102,190,24,1) 48%,rgba(57,150,2,1) 97%,rgba(102,174,63,1) 100%); /* W3C */

 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8ac754', endColorstr='#66ae3f',GradientType=0 ); /* IE6-9 */

 color:#fff;

  float:right;

  font-weight:bold;

  cursor:pointer;

  font-size:15px;

  outline: none;

}



input[type=submit]:hover {

  box-shadow:

    inset 0 1px 0 rgba(255,255,255,0.3),

    inset 0 -10px 10px rgba(255,255,255,0.1);

    background: rgb(102,174,63); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(102,174,63,1) 0%, rgba(57,150,2,1) 3%, rgba(102,190,24,1) 52%, rgba(121,201,50,1) 55%, rgba(138,199,84,1) 100%); /* FF3.6+ */

	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(102,174,63,1)), color-stop(3%,rgba(57,150,2,1)), color-stop(52%,rgba(102,190,24,1)), color-stop(55%,rgba(121,201,50,1)), color-stop(100%,rgba(138,199,84,1))); /* Chrome,Safari4+ */

	background: -webkit-linear-gradient(top,  rgba(102,174,63,1) 0%,rgba(57,150,2,1) 3%,rgba(102,190,24,1) 52%,rgba(121,201,50,1) 55%,rgba(138,199,84,1) 100%); /* Chrome10+,Safari5.1+ */

	background: -o-linear-gradient(top,  rgba(102,174,63,1) 0%,rgba(57,150,2,1) 3%,rgba(102,190,24,1) 52%,rgba(121,201,50,1) 55%,rgba(138,199,84,1) 100%); /* Opera 11.10+ */

	background: -ms-linear-gradient(top,  rgba(102,174,63,1) 0%,rgba(57,150,2,1) 3%,rgba(102,190,24,1) 52%,rgba(121,201,50,1) 55%,rgba(138,199,84,1) 100%); /* IE10+ */

	background: linear-gradient(to bottom,  rgba(102,174,63,1) 0%,rgba(57,150,2,1) 3%,rgba(102,190,24,1) 52%,rgba(121,201,50,1) 55%,rgba(138,199,84,1) 100%); /* W3C */

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66ae3f', endColorstr='#8ac754',GradientType=0 ); /* IE6-9 */



}



/*----start-responsive design-----*/
/*
@media only screen and (max-width:1680px) {

	.main{

	margin:15em auto 0;

	}

	.copy-right p {

	padding: 0em 0;

	}

}

@media only screen and (max-width:1440px)  {

	.main{

	margin:11em auto 0;

	width:24%;

	}

	.copy-right p {

	padding:3em 0;

	}

}

@media only screen and (max-width:1366px) {

	.main{

	margin:10em auto 0;

	width:25%;

	}

	.copy-right p {

	padding:3.5em 0;

	}

}

@media only screen and (max-width:1280px) {

	.main{

	margin:11em auto 0;

	width: 27%;

	}

	.copy-right p {

	padding:4.3em 0;

	}

}

@media only screen and (max-width:1024px)  {

	.main{

	margin:12em auto 0;

	width:33%;

	}

	.copy-right p {

	padding:6em 0;

	}

}

@media only screen and (max-width:768px) {

	.main{

	margin: 14em auto 0;

	width: 43%;

	}

	.copy-right p {

	padding:6em 0;

	}

}

@media only screen and (max-width:640px) {

	.main{

	margin:14em auto 0;

	width:51%;

	}

	.copy-right p {

	padding:6em 0;

	}

}

@media only screen and (max-width:480px)  {

	.main{

	margin: 12em auto 0;

	width: 68%;

	}

	.copy-right p {

	padding:6em 0;

	}

}

@media only screen and (max-width:320px) {

	.main{

	margin:7em auto 0;

	width:96%;

	}

	.copy-right p {

	padding:1em 0;

	}

}


*/
/*----//end-responsive design-----*/
